/backups
/cache
/debug
/downloads
/file-history
/history.jsonl
/ide
/keybindings.json
/paste-cache
/plans
/plugins
/projects
/session-env
/sessions
/shell-snapshots
/stats-cache.json
/statsig
/tasks
/telemetry
/temp
/todos
/chrome
/usage-data
/.credentials.json
/*.bak
/mcp-needs-auth-cache.json
/transcripts
/image-cache
/teams
# /*
# !/.gitignore
# !/agents/*
# !/skills/*
# !/hooks/*
# !/settings.json
# !/CLAUDE.md

# home project claude state files
/worktrees
/scheduled_tasks.lock
/scheduled_tasks.json

# project claude state files
.claude/worktrees
.claude/scheduled_tasks.lock
.claude/scheduled_tasks.json

# archibate personal skills
/skills/adb-wireless
/skills/bilibili-mp3
/skills/sync-translation
