/backups
/cache
/debug
/downloads
/file-history
/history.jsonl
/ide
/keybindings.json
/paste-cache
/plans
/plugins
/projects
/session-env
/sessions
/shell-snapshots
/stats-cache.json
/statsig
/tasks
/telemetry
/temp
/todos
/chrome
/usage-data
/.credentials.json
/*.bak
/mcp-needs-auth-cache.json
/transcripts
/image-cache
/teams
# /*
# !/.gitignore
# !/agents/*
# !/skills/*
# !/hooks/*
# !/settings.json
# !/CLAUDE.md

# archibate personal skills
/skills/adb-wireless
/skills/bilibili-mp3
/skills/sync-translation
